body {
  font-family: Lato;
}

h1 {
  font-family: Roboto;
  font-size: 440%;
  text-align: center;
  font-weight: 100;
  color: #000;
}

h2 {
  font-family: Roboto;
  font-size 125%;
  font-weight: 100;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 84% 40%;
  background-image: url("../images/champ.png");
  position: fixed;
}

.heada {
  width:500px;
  margin: auto;
}

.landing {
  margin: 10% auto;
  text-align: center;
}

img {
  margin: auto!important;
  width: 50px;
  display: block;
  padding-top: 5px;
}

form {
  width: 300px!important;
  margin: 20px auto!important;
  text-align: center!important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none!important;
  box-shadow: none!important;
  outline: 0 none!important;
}


/* search bar */

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 20px auto!important;
  text-align: center!important;
}

.container-4 input.search{
  width: 300px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 10pt;
  float: left;
  font-family: Roboto;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input.search::-webkit-input-placeholder {
 color: #65737e;
}
 
.container-4 input.search:-moz-placeholder { /* Firefox 18- */
 color: #65737e;  
}
 
.container-4 input.search::-moz-placeholder {  /* Firefox 19+ */
 color: #65737e;  
}
 
.container-4 input.search:-ms-input-placeholder {  
 color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
  }
 
.container-4:hover button.icon:hover{
  background: white;
  border: 1px solid #ccc;
}

  /**/

input #go {
  border-top-right-radius: 20%!important;
  border-bottom-right-radius: 20%!important
  border: none!important;
}

input search {
  border-top-left-radius: 20%!important;
  border-bottom-left-radius: 20%!important;
}


/* --- Content/Results --- */

.content {
  width: 100%;
  height: 100%;
  margin: auto;
/*  display: none;*/
}

.results {
  width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: none;
}

.results h2 {
  font-family: Roboto;
  font-size: 125%;
}
