@font-face {
  font-family: "adam";
  src: url(../fonts/adam.otf);
}

@font-face {
  font-family: "Dancing";
  src: url(../fonts/dancing.otf);
}

@font-face {
  font-family: "codebold";
  src: url(../fonts/codebold.otf);
}

body {
  font-family: Lato;
  color: #fff!important;
  z-index:999999;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover!important;
  background-image: url("../images/bok.jpg");
}

h1 {
  font-family: dancing;
  font-size: 540%;
  text-align: center;
  font-weight: 100;
  color: #000;
}

h2 {
  font-family: 'adam';
  font-size 125%;
  font-weight: bold;
  color: #000;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    content: url('../images/');
  }

.container {
  width: 100%;
  height: 1000px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: .5% 50%;
/*  background-image: url("../images/champ.png");*/
}

.heada {
  width: 50%;
  margin: auto;
}

.landing {
  margin: auto;
  text-align: center;
}

i {
  background-image: url('../images/martini.ico')!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-position: contain!important;

}

img {
  margin: 2% auto;
  width: 60px;
  display: block;
  padding-top: 5px;
  z-index:999999;
  float: center;
  top: 0;
}

form {
  width: 300px!important;
  margin: 20px auto!important;
  text-align: center!important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none!important;
  box-shadow: none!important;
  outline: 0 none!important;
}


/* search bar */

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 20px auto!important;
  text-align: center!important;
}

.container-4 input.search{
  width: 300px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 10pt;
  float: left;
  font-family: Roboto;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-size: 10%;
  background-position: left;
  background-repeat: no-repeat;
}

.container-4 input.search::-webkit-input-placeholder {
 color: #65737e;
}
 
.container-4 input.search:-moz-placeholder { /* Firefox 18- */
 color: #65737e;  
}
 
.container-4 input.search::-moz-placeholder {  /* Firefox 19+ */
 color: #65737e;  
}
 
.container-4 input.search:-ms-input-placeholder {  
 color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
  background-image: url('../images/martiniredwhite.ico');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 50%;
  }
 
.container-4:hover button.icon:hover{
  background: white;
  border: 1px solid #ccc;
  background-image: url('../images/martini.ico');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 50%;
}

  /**/

input #go {
  border-top-right-radius: 20%!important;
  border-bottom-right-radius: 20%!important
  border: none!important;
}

input search {
  border-top-left-radius: 20%!important;
  border-bottom-left-radius: 20%!important;
}


/* --- Content/Results --- */

.content {
  width: 60%!important;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;

}

.body2 {
  background-image: url('../images/greyscale.jpg');
  width: 100%!important;
  height: 100%!important;
  background-attachment: fixed;
  background-size: cover;
}

.extraBody {
  width: 100%;
  height: 100%;
  margin: auto;
}

html {
  width: 100%;
  height: 100%;
  margin: auto;`
}

.results {
  width: 60%;
  margin: auto!important;
  padding: 10px;
  display: none;
}

.results h2 {
  color: #fff!important;
  font-size: 125%;
  font-weight: 200;
  padding: 10px;
}

.bars {
  margin: 15px;
  text-align: center;
  font-size: 145%;
  border-radius: 5px;
  padding: 5px;
  font-weight: 100;
  color: #fff!important;
  background-color: rgba(0,0,0,0.2);
  display: none;
}

.bars ul {
  text-align: center;
  margin-right: 50px!important;
}

.bars ul li {
  list-style-type: none!important;
  margin: auto;
  text-align: center;
  width: 250px;
  padding: 5px;

}

.bars h2 {
  padding: none!important;
  margin-top: 0!important;
  margin: 0!important;
  margin-bottom: none!important;
  font-size: 200%;
  cursor: pointer;
  font-family: codebold;
  font-size: 250%;
}

